
@{
    ViewBag.Title = "espace etudiant";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}

@model Projet1_ASP.Models.Etudiant

<h2>espace etudiant</h2>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<!-- ======= Header ======= -->
