@model IEnumerable<Projet1_ASP.Models.Groupe>


@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
    IEnumerable<Projet1_ASP.Models.GroupeMembre> Invitation = ViewBag.Invitation;
}


    <div class="container border mb-2 p-3 border shadow">

        <nav class="navbar navbar-light border-bottom">
            <a href="/Etudiant/NewGroup" class="btn btn-success"><i class="icon glyphicon-plus" ></i> Creer groupe</a>
        </nav>

        <div class="row m-5 p-5 justify-content-between">

            <div class="col-md-5 pr-2 ">

                <h3>Vos Groups</h3>
                

                    @if (Model.Count() == 0)
                    {
                        <div>

                            <p>Vous appartenez a aucun group ... ? </p>                        

                        </div>
                    }   


                    @foreach (var g in Model)
                    {

                        <a  href="Groupe/@g.grp_id"   class=" m-1 w-100 btn btn-primary">@g.grp_nom</a>

                    }
                



              



            </div>


            <div class="col-md-5   pl-2">
                <h3>Invitations de groups </h3>


                @if (Model.Count() == 0)
                {
                    <div>

                        <p>Vous avez aucune invitation pour le moments </p>

                    </div>
                }


                @foreach (var g in Invitation)
                {

                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <p>@g.Groupe.grp_nom</p>
                        </div>
                        <div class="col-md-3"><a href="/Etudiant/AcceptInvit/@g.token" class="btn btn-success">Accepter</a></div>
                        <div class="col-md-3"><a href="/Etudiant/RefuseInvit/@g.token" class="btn btn-danger">Refuser</a></div>
                    </div>


                }



            </div>


        </div>

    </div>

