
@{
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}

    <nav class="navbar navbar-dark bg-dark navbar-expand justify-content-between">
       
        <div class="justify-content-between d-inline-flex col-4">
            <input class="form-control mr-sm-2" type="search" placeholder="Taper votre recherche ici" aria-label="Chercher">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
        </div>
        <div class="justify-content-around d-inline-flex col-2">

        </div>
        <div class="justify-content-around d-inline-flex col-3">
            <label for="inputState" class="text-light mr_sm-2 my-2">Chercher par</label>
            <select id="inputState" class="form-control col-7">
                <option selected>Nom</option>
                <option>Sujet</option>
            </select>
        </div>
        <div class="justify-content-around d-inline-flex col-3">
            <label for="inputState" class="text-light mr_sm-2 my-2">Trier par</label>
            <select id="inputState" class="form-control col-7">
                <option selected>Nom</option>
                <option>Sujet</option>
            </select>
        </div>
    </nav>
<section style="height:300px">

</section>

