<nav class="nav-menu float-right d-none d-lg-block">
    <ul>
        <li>@Html.ActionLink(" Espace Personnel", "byget", "Etudiant")</li>
        <li><a href="/Etudiant/Crrer_Groupe">Espace groupe(Creer /archiver /inviter )</a></li>
        <li><a href="/Etudiant/notification">notification</a></li>
        <li>@Html.ActionLink("deconnexion", "deconnexion", "Etudiant")</li>


    </ul>
</nav><!-- .nav-menu -->